#root {
  height: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.container.img-container, .container.search-container {
  margin: 0 auto;
  max-width: 720px;
}

.search-header {
  background-color: transparent;
}
